# (Data Science Tools and Ecosystem)

(In this notebook, Data Science Tools and Ecosystem are summarized.)

## (popular languages that Data Scientists use are)

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. SAS

### (Some of the commonly used libraries used by Data Scientists include:)

1. NumPy 
2. Pandas
3. Matplotlib
4. SciPy 
5. Plotly
6. TensorFlow 
7. Keras

### (A markdown cell with a table of Data Science tools)

|Data Science Tools|
|-------------------------------------|
|R Studio | 
|Apache Spark | 
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
# multiply and add integers
(3*4)+5

[1] 17

### convert minutes to hours

In [3]:
# convert minutes to hours
200/60

[1] 3.333333

In [9]:
a= 200
b= 60
c= a/b
print(c)

[1] 3.333333

### A unorderd markdown cell to list Objectives

#### unordered list

- Python
- R
- SQL
- Java

## Author 
Roberto Martinez